{% extends "bank/base.html" %}
{% block content %}
{% load django_bootstrap5 %}


<div class="container">
  <form method="post" action="{% url 'bank:login' %}" class="needs-validation" novalidate>
    {% csrf_token %}
    <h2 class="mb-3">Представьтесь, пожалуйста</h2>
    
    <div class="mb-3">
      <label for="{{ form.username.id_for_label }}" class="form-label">Логин:</label>
      {% bootstrap_field form.username placeholder="Логин" %}
    </div>
    
    <div class="mb-3">
      <label for="{{ form.password.id_for_label }}" class="form-label">Пароль:</label>
      {% bootstrap_field form.password placeholder="Пароль" %}
    </div>
    
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">OK</button>
      <button type="reset" class="btn btn-secondary">Отмена</button>
      {% if next %}
        <a href="{{ next }}" class="btn btn-link">Продолжить</a>
      {% endif %}
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
