django>=5.1.6
djangorestframework>=3.16.0
djangorestframework-simplejwt
djoser
django-cors-headers
django-bootstrap5>=24.3
django-tables2>=2.7.5
python-dotenv>=1.0.1
psycopg2-binary>=2.9.10
gunicorn
loguru
