{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href={% static "bank/icon.png" %}>

    <link rel="stylesheet" href="{% static 'bank/css/bootstrap.min.css' %}">
    <script src  = "{% static 'bank/js/script.js' %}"></script>
    <title>Банк ЛФМШ</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'bank:index' %}">Банк ЛФМШ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'bank:index' %}">Домой</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bank:my_transactions' %}">Мои транзакции</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bank:media' %}">Файловый архив</a></li>
                {% if 'bank.upload_self_files' in request.user.get_all_permissions %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'bank:upload' %}">Загрузить файл</a></li>
                {% endif %}
              {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
                <li class="nav-item"><p class="navbar-text">В системе как {{ request.user.account.short_name }}</p></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bank:logout' %}?next={% url 'bank:index' %}">Выйти</a></li>
              {% else %}
                <li class="nav-item"><p class="navbar-text">Вы не авторизированны в системе</p></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bank:index' %}">Войти</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      
<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'bank/js/bootstrap.bundle.min.js' %}"></script>
</body>
