{% load static %}

{% bootstrap_javascript jquery='true' %}
{% bootstrap_css %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}">
  <link rel="stylesheet" href="{% static 'bank/style.css' %}">
  <title>Банк ЛФМШ</title>
</head>
<body>

<div class="row">
  <div class="col-12">
    <h4>Сводка балансов по состоянию на {% now 'd число H:i' %}</h4>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <i><strong>Детализация</strong>: [Сумма заработанных денег:(доход от учебы + доход от мероприятий + доход от спорта + доход от работы)]</i>
  </div>
</div>

<div class="row">
  {% for acc in accounts_info %}
    {% if forloop.counter in markup.starttable %}
      <div class="col-6">
        <h4>{{ acc.party }} Отряд</h4>
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Пионер</th>
              <th>Баланс</th>
              <th>Детализация</th>
              <th>Серт. <i class="bi bi-book"></i></th>
            </tr>
          </thead>
          <tbody>
    {% endif %}
            <tr class="{{ acc.row_class }}">
              <td>{{ acc.name }}</td>
              <td><span class="{% if acc.is_best_balance %}fw-bold{% endif %}">{{ acc.str_balance }}</span></td>
              <td>
                <span class="{% if acc.is_best_all %}fw-bold{% endif %}">{{ acc.earned_all|floatformat:"0" }}</span>:
                <span class="{% if acc.is_best_studies %}fw-bold{% endif %}">{{ acc.earned_studies|floatformat:"0" }}</span>+
                <span class="{% if acc.is_best_activity %}fw-bold{% endif %}">{{ acc.earned_activity|floatformat:"0" }}</span>+
                <span class="{% if acc.is_best_sport %}fw-bold{% endif %}">{{ acc.earned_sport|floatformat:"0" }}</span>+
                <span class="{% if acc.is_best_work %}fw-bold{% endif %}">{{ acc.earned_work|floatformat:"0" }}</span>
              </td>
              <td>{{ acc.counters.val.book_certificate }} <i class="bi bi-book"></i></td>
            </tr>
    {% if forloop.counter in markup.endtable %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {% if forloop.counter == markup.rowbreak %}
      </div>
      <div class="row">
    {% endif %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-12 fs-5">
    Сумма денег у пионеров: {{ sum_money }}@ <br>
    Среднее значение: {{ mean_money }}@ <br>
    Среднеквадратичное отклонение: {{ st_dev }} <br>
  </div>
</div>

</body>
</html>
