{% extends 'bank/base.html' %}
{% load static %}

{% block content %}
  <div class="container py-4">
    <!-- Top Section -->
    <div class="p-4 p-lg-5 bg-light rounded-3 mb-2">
      <p class="fs-4">Здравствуйте, {{ request.user.long_name }}</p>
       <div class="d-flex justify-content-around mt-4">
        <div class="col">
          <a href="{% url 'bank:add_transaction' 'general_money' %}">
            <div class="button-container">
              <button class="circle-btn lgreen"><i class="bi bi-plus"></i></button>
              <div class="btn-text">Начисление</div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'bank:add_transaction' 'fac_attend' %}">
            <div class="button-container">
              <button class="circle-btn lblue"><i class="bi bi-journal"></i></button>
              <div class="btn-text">Занятие</div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'bank:add_transaction' 'fine' %}">
            <div class="button-container">
              <button class="circle-btn lred"><i class="bi bi-dash"></i></button>
              <div class="btn-text">Штраф</div>
            </div>
          </a>
        </div>
        <div class="col">
          <!-- TODO add popup menu -->
            <div class="button-container">
              <button class="circle-btn lyellow"><i class="bi bi-three-dots"></i></button>
              <div class="btn-text">Еще</div>
            </div>
        </div>
      </div> 
      <div class="row"></div>
    </div>
  </div>
  <!-- Savings and Investments Section -->
  <div class="row mb-4">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">В банке:</h5>
          <h3 class="card-text">{{ st_stats.sum_money }}@</h3>
          <small class="text-success">+2.4%</small>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Среднее:</h5>
          <h3 class="card-text">{{ st_stats.mean_money }}@</h3>
          <small class="text-success">+5.8%</small>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-lg mb-2 text-center bg-light" href="{% url 'bank:my_transactions' %}">Транзакции</a><br />
    </div>
    <ul class="list-group">
      {% for transaction in transactions %}
        <li class="list-group-item
          {% if transaction.state == 'declined' or transaction.state.counted == False  %}
             bg-danger bg-opacity-10
          {% elif transaction.state == 'substituted' %}
          {% comment %} TODO: add edit icon {% endcomment %}
             bg-warning bg-opacity-10
          {% elif transaction.state == 'created' %}
             bg-secondary bg-opacity-10
          {% endif %}">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <small class="text-muted">{{ transaction.get_creation_timestamp }}</small>
              <i class="bi bi-people opacity-75"></i>
              <small>{{transaction.related_money_atomics.values_list|length}}</small><br>
              <span>{{ transaction.type }}</span> 
            </div>
            <div class="text-end">
              <span>{{ transaction.money_count_string }}</span>
            </div>
          </div>
        </li>
      {% empty %}
        <li class="list-group-item">Нет транзакций</li>
      {% endfor %}
    </ul>
  <div class="container py-4">
    <!-- Top Section -->
    <div class="p-4 p-lg-5 bg-light rounded-3 mb-3">
      <h4>Списки пользователей</h4>
      {% include 'bank/transaction_lists/transaction.html' %}
      {% if 'bank.see_student_balance' in request.user.get_all_permissions %}
        <a href="{% url 'bank:students' %}">Пионеры</a><br />
      {% endif %}
      {% if 'bank.see_staff_balance' in request.user.get_all_permissions %}
        <a href="{% url 'bank:staff' %}">Педсостав</a>
      {% endif %}
      <a class="nav-link" href="{% url 'bank:my_transactions' %}">Мои транзакции</a>
      <p>{{ request.user }}</p>
    </div>
  </div>
    <!-- Recent Transactions -->
    {% if 'bank.see_staff_created_transactions' in request.user.get_all_permissions %}
    <a href="{% url 'bank:monitor_table' %}">Сводка транзакций</a><br />
  {% endif %}
{% endblock %}
